{% extends 'base_app/base.html' %}
{% load staticfiles %}
{% block body %}
    <script src="{% static "reports_app/js/reporst_app.js" %}"></script>
    <div class="row">
        <div class="col-lg-5">
            <form  id='get_remnants_for_input_date' enctype="multipart/form-data" action="{% url 'reports:product_remnants' %}" method="post">
                {% csrf_token %}
                <input type="text" name="date_to" value="05.12.2017" id="id_date_to" required="">
                <button name="submit">Найти остатки</button>
            </form>

           {% include 'reports_app/reports_remnants.html' %}
        </div>
    </div>




{% endblock %}